@charset "utf-8";

.is-block {
  display: block;
}

.mt-1 {
  margin-top: 1rem;
}

.panel.panel-compact {
  & > .panel-heading {
    padding-bottom: 0;
  }

  & > .panel-footer {
    padding-top: 0;
  }
}
