@charset "utf-8";

.mt-1 {
    margin-top: 1rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

header {
    display: flex;
    align-items: center;
}

.app-icon {
    width: 48px;
    height: 48px;
    background: url('./assets/images/icon48.png');
    background-size: 100% 100%;
}

.collector {
    opacity: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    display: inline-flex;
    pointer-events: none;
    position: fixed;
}
