@charset "utf-8";

$color-background: #fcfcfe;

$font-family-sans: "IBM Plex Sans";

$font-family-mono: "IBM Plex Mono", monospace;

// Blueberry CSS Core
@import '../../../node_modules/@rensatsu/blueberry-css/scss/blueberry/core/utils';
@import '../../../node_modules/@rensatsu/blueberry-css/scss/blueberry/core/variables';
@import '../../../node_modules/@rensatsu/blueberry-css/scss/blueberry/core/functions';
@import '../../../node_modules/@rensatsu/blueberry-css/scss/blueberry/core/core';
@import '../../../node_modules/@rensatsu/blueberry-css/scss/blueberry/core/dark-mode';

// Additional Components
@import '../../../node_modules/@rensatsu/blueberry-css/scss/blueberry/components/alert';
@import '../../../node_modules/@rensatsu/blueberry-css/scss/blueberry/components/controls';
@import '../../../node_modules/@rensatsu/blueberry-css/scss/blueberry/components/grid';
@import '../../../node_modules/@rensatsu/blueberry-css/scss/blueberry/components/lists';
@import '../../../node_modules/@rensatsu/blueberry-css/scss/blueberry/components/panel';
@import '../../../node_modules/@rensatsu/blueberry-css/scss/blueberry/components/text';
