@charset "utf-8";

$color-background: #fcfcfe;

$font-family-sans: "Public Sans Variable";

$font-family-mono: "JetBrains Mono Variable", monospace;

// Blueberry CSS Core
@import "@rensatsu/blueberry-css/scss/blueberry/core/utils";
@import "@rensatsu/blueberry-css/scss/blueberry/core/variables";
@import "@rensatsu/blueberry-css/scss/blueberry/core/functions";
@import "@rensatsu/blueberry-css/scss/blueberry/core/core";
@import "@rensatsu/blueberry-css/scss/blueberry/core/dark-mode";

// Additional Components
@import "@rensatsu/blueberry-css/scss/blueberry/components/alert";
@import "@rensatsu/blueberry-css/scss/blueberry/components/controls";
@import "@rensatsu/blueberry-css/scss/blueberry/components/grid";
@import "@rensatsu/blueberry-css/scss/blueberry/components/lists";
@import "@rensatsu/blueberry-css/scss/blueberry/components/panel";
@import "@rensatsu/blueberry-css/scss/blueberry/components/text";
